<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Mashtal.online - Gardening &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <header class="header-area">

            <!-- ***** Top Header Area ***** -->
            <div class="top-header-area">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div
                        class="top-header-content d-flex align-items-center justify-content-between"
                      >
                        <!-- Top Header Content -->
        
                        <!-- كومنت على الايمل  -->
                        <!-- <div class="top-header-meta">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: infodeercreative@gmail.com</span></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +1 234 122 122</span></a>
                                    </div> -->
        
                        <!-- Top Header Content -->
                        <div class="top-header-meta d-flex">
                          <!-- Language Dropdown -->
                          <!-- <div class="language-dropdown">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">USA</a>
                                                    <a class="dropdown-item" href="#">UK</a>
                                                    <a class="dropdown-item" href="#">Bangla</a>
                                                    <a class="dropdown-item" href="#">Hindi</a>
                                                    <a class="dropdown-item" href="#">Spanish</a>
                                                    <a class="dropdown-item" href="#">Latin</a>
                                                </div>
                                            </div>
                                        </div> -->
                          <!-- Login -->
                          <div class="login">
                            <a href="login.html"
                            ><i class="fa fa-user" aria-hidden="true"></i>
                              <span>Login</span></a
                            >
                          </div>
                          <!-- Cart -->
                          <div class="cart">
                            <a href="#"
                              ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span
                                >Cart <span class="cart-quantity">(1)</span></span
                              ></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                  <!-- Menu -->
                  <nav class="classy-navbar justify-content-between" id="alazeaNav">
                    <!-- Nav Brand -->
                    <a href="index.html" class="nav-brand"
                      ><img
                        id="navlogo"
                        src="img/core-img/NEWLOGO-removebg-preview.png"
                        alt=""
                    /></a>
      
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                      <span class="navbarToggler"
                        ><span></span><span></span><span></span
                      ></span>
                    </div>
      
                    <!-- Menu -->
                    <div class="classy-menu">
                      <!-- Close Button -->
                      <div class="classycloseIcon">
                        <div class="cross-wrap">
                          <span class="top"></span><span class="bottom"></span>
                        </div>
                      </div>
      
                      <!-- Navbar Start -->
                      <div class="classynav">
                        <ul>
                          <li><a href="index.html">Home</a></li>
                          <li><a href="shop.html">Shop</a></li>
                          <li>
                            <a href="#">Pages</a>
                            <ul class="dropdown">
                              <li><a href="about.html">About</a></li>
                              <li>
                                <a href="shop.html">Shop</a>
                                <ul class="dropdown">
                                  <li><a href="shop.html">Shop</a></li>
                                  <li>
                                    <a href="shop-details.html">Shop Details</a>
                                  </li>
                                  <li><a href="cart.html">Shopping Cart</a></li>
                                  <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                              </li>
                              <li>
                                <a href="portfolio.html">Service</a>
                                <ul class="dropdown">
                                  <li><a href="portfolio.html">Event</a></li>
                                  <li>
                                    <a href="single-portfolio.html"
                                      >Event Details</a
                                    >
      
                                    <li>
                                      <a href="blog.html">Blog</a>
                                      <ul class="dropdown">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="single-post.html">Blog Details</a></li>
                                      </ul>
                                    </li>
                                  </li>
      
                                </ul>
                              </li>
                            
                              <li><a href="contact.html">Contact</a></li>
                            </ul>
                          </li>
                          <!-- <li><a href="portfolio.html">Portfolio</a></li> -->
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="contact.html">Contact Us </a></li>
      
                          <li>
                            <a href="secondmyacc.html">MY Account</a>
                          </li>
      
                        </ul>
      
                        <!-- Search Icon -->
                        <div id="searchIcon">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                      </div>
                      <!-- Navbar End -->
                    </div>
                  </nav>
      
                  <!-- Search Form -->
                  <div class="search-form">
                    <form action="#" method="get">
                      <input
                        type="search"
                        name="search"
                        id="search"
                        placeholder="Type keywords &amp; press enter..."
                      />
                      <button type="submit" class="d-none"></button>
                    </form>
                    <!-- Close Icon -->
                    <div class="closeIcon">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </header>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
            <h2>ABOUT US</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="about-us-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>ABOUT US</h2>
                        <h4>We are leading in the plants live Indoors .</h4>
                    </div>
                    <h5>We decided to specialize in a specific field of the world of plants, which is the plants that can live in homes, especially apartments and companies that do not contain any landscape
                        Therefore, we seek to improve the internal and aesthetic environment and preserve people's health through specific types of plants
                        </h5>

                    <!-- Progress Bar Content Area -->
                    <div class="alazea-progress-bar mb-50">
                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p>Home Plant</p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="80"></span>
                            </div>
                        </div>

                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p>Office Plant</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="70"></span>
                            </div>
                        </div>

                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p> Accessories</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="85"></span>
                            </div>
                        </div>

                        <!-- Single Progress Bar -->
                        <div class="single_progress_bar">
                            <p>Event</p>
                            <div id="bar4" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="65"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-benefits-area">
                        <div class="row">
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="img/core-img/b1.png" alt="">
                                    <h5>Quality Products</h5>
                                    <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="img/core-img/b2.png" alt="">
                                    <h5>Perfect Service</h5>
                                    <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="img/core-img/b3.png" alt="">
                                    <h5>100% Natural</h5>
                                    <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <img src="img/core-img/b4.png" alt="">
                                    <h5>Environmentally friendly</h5>
                                    <p>Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <!-- ##### Service Area Start ##### -->
    <section class="our-services-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
    <!-- Section Heading -->
    <div class="section-heading text-center">
                        <h2>OUR SERVICES</h2>
                        <p>We provide the perfect service for you.</p>
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="alazea-service-area mb-100">

    <!-- Single Service Area -->
    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
    <!-- Icon -->
    <div class="service-icon mr-30">
                                <img src="img/core-img/b2.png" alt="">
                            </div>
    <!-- Content -->
    <div class="service-content">
                                <h5> FUTURE PLAN </h5>
                                <p>To have plastic houses through which we cultivate thyme, sesame, and sumac, and use olive oil, all from Ajloun city.</p>
                            </div>
                        </div>

    <!-- Single Service Area -->
    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
    <!-- Icon -->
    <div class="service-icon mr-30">
                                <img src="img/core-img/cf1.png" alt="">
                            </div>
    <!-- Content -->
    <div class="service-content">
                                <h5>SPECIAL ORDER</h5>
                                <p>Exclusive orders, including unique gifts and specific plants, are unavailable through other markets or our website.</p>
                            </div>
                        </div>

    <!-- Single Service Area -->
    <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
    <!-- Icon -->
    <div class="service-icon mr-30">
                                <img src="img/core-img/event12.png" alt="">
                            </div>
    <!-- Content -->
    <div class="service-content">
                                <h5>EVENT</h5>
                                <p>We enhance your events' beauty and enjoyment through the captivating allure of nature.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-video-area bg-overlay mb-100">
                        <img src="img/bg-img/23.jpg" alt="">
                        <a href="http://www.youtube.com/watch?v=7HKoqNJtMTQ" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area bg-gray section-padding-100">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="testimonials-slides owl-carousel">
                <!-- Single Testimonial Slide -->
                <div class="single-testimonial-slide">
                  <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                      <div class="testimonial-thumb">
                        <img src="img/bg-img/jowri.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="testimonial-content">
                        <!-- Section Heading -->
                        <div class="section-heading">
                          <h2>TESTIMONIAL</h2>
                          <p>Some kind words from clients about Mashtal.online the last three comments</p>
                        </div>
                        <p>
                          “The products are great”
                        </p>
                        <div class="testimonial-author-info">
                          <h6>Ms. jowri sami</h6>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Single Testimonial Slide -->
                <div class="single-testimonial-slide">
                  <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                      <div class="testimonial-thumb">
                        <img src="img/bg-img/qwwwwwww.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="testimonial-content">
                        <!-- Section Heading -->
                        <div class="section-heading">
                          <h2>TESTIMONIAL</h2>
                          <p>Some kind words from clients about Mashtal.online the last three comments</p>
                        </div>
                        <p>
                          “ Thank you!”
                        </p>
                        <div class="testimonial-author-info">
                          <h6>Mr. Nazrul Islam</h6>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Single Testimonial Slide -->
                <div class="single-testimonial-slide">
                  <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                      <div class="testimonial-thumb">
                        <img src="img/bg-img/WhatsApp Image 2023-08-26 at 19.50.48.jpg" alt="" />
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="testimonial-content">
                        <!-- Section Heading -->
                        <div class="section-heading">
                          <h2>TESTIMONIAL</h2>
                          <p>Some kind words from clients about Mashtal.online the last three comments</p>
                        </div>
                        <p>
                          "Thank you for your kind treatment. The goods are beautiful and good"
  
                        </p>
                        <div class="testimonial-author-info">
                          <h6>Mr. Eng-Murad AL-shurman</h6>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ##### Testimonial Area End ##### -->
  
    <!-- ##### Cool Facts Area Start ##### -->
    <section class="cool-facts-area bg-img section-padding-100-0" style="background-image: url(img/bg-img/cool-facts.png);">
        <div class="container">
            <div class="row">

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="img/core-img/cf1.png" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">20</span></h2>
                            <h6>AWARDS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="img/core-img/cf2.png" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">70</span></h2>
                            <h6>PROJECTS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="img/core-img/cf3.png" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">30</span>+</h2>
                            <h6>HAPPY CLIENTS</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                        <div class="cf-icon">
                            <img src="img/core-img/cf4.png" alt="">
                        </div>
                        <div class="cf-content">
                            <h2><span class="counter">80</span>K+</h2>
                            <h6>REVENUE</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Side Image -->
        <div class="side-img wow fadeInUp" data-wow-delay="500ms">
            <img src="img/core-img/pot.png" alt="">
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->

    <!-- ##### Team Area Start ##### -->
    <section class="team-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2> OUR TEAM</h2>
                        <p>We are here to help </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Team Member Area -->
                <div style="margin: auto;" class="col-12 col-sm-6 col-lg-5">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="img/bg-img/admin-fotor-bg-remover-20230827223312.png" alt="">
                            <!-- Social Info -->
                            <div class="team-member-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>SAM NJT</h5>
                            <p> Owner &amp;  designer</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <!-- <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100"> -->
                        <!-- Team Member Thumb -->
                        <!-- <div class="team-member-thumb">
                            <img src="img/bg-img/team2.png" alt=""> -->
                            <!-- Social Info -->
                            <!-- <div class="team-member-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div> -->
                        <!-- Team Member Info -->
                        <!-- <div class="team-member-info mt-30">
                            <h5>Tasha Deserio</h5>
                            <p>Garden Designer</p>
                        </div>
                    </div>
                </div> -->

                <!-- Single Team Member Area -->
                <!-- <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100"> -->
                        <!-- Team Member Thumb -->
                        <!-- <div class="team-member-thumb">
                            <img src="img/bg-img/team3.png" alt=""> -->
                            <!-- Social Info -->
                            <!-- <div class="team-member-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div> -->
                        <!-- Team Member Info -->
                        <!-- <div class="team-member-info mt-30">
                            <h5>Cody Baker</h5>
                            <p>Plan Manager</p>
                        </div>
                    </div>
                </div> -->

                <!-- Single Team Member Area -->
                <!-- <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100"> -->
                        <!-- Team Member Thumb -->
                        <!-- <div class="team-member-thumb">
                            <img src="img/bg-img/team4.png" alt=""> -->
                            <!-- Social Info -->
                            <!-- <div class="team-member-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div> -->
                        <!-- Team Member Info -->
                        <!-- <div class="team-member-info mt-30">
                            <h5>Pearl Kansas</h5>
                            <p>Marketer</p>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
    <!-- ##### Team Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer
    class="footer-area bg-img"
    style="background-image: url(img/bg-img/backgroundfooter.jpg)"
  >
    <!-- Main Footer Area -->
    <div class="main-footer-area">
      <div class="container">
        <div class="row">
          <!-- Single Footer Widget -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget">
              <div class="footer-logo mb-30">
                <a href="#"
                  ><img
                    src="img/core-img/NEWLOGO-removebg-preview.png"
                    alt=""
                /></a>
              </div>
        
            </div>
          </div>

          <!-- Single Footer Widget -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget">
              <div class="widget-title">
                <h5>QUICK LINK</h5>
              </div>
              <nav class="widget-nav">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Service</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- Single Footer Widget -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget">
              <div class="widget-title">
                <h5>OUR POLICES</h5>
              </div>
                  <p>If encountering an issue, kindly reach out to customer service within 24 hours of phone service purchase.</p>
              <!-- Single Best Seller Products -->
              <!-- <div
                class="single-best-seller-product d-flex align-items-center"
              >
                <div class="product-thumbnail">
                  <a href="shop-details.html"
                    ><img src="img/bg-img/4.jpg" alt=""
                  /></a>
                </div>
                <div class="product-info">
                  <a href="shop-details.html">Cactus Flower</a>
                  <p>$10.99</p>
                </div>
              </div> -->

              <!-- Single Best Seller Products -->
              <!-- <div
                class="single-best-seller-product d-flex align-items-center"
              >
                <div class="product-thumbnail">
                  <a href="shop-details.html"
                    ><img src="img/bg-img/5.jpg" alt=""
                  /></a>
                </div>
                <div class="product-info">
                  <a href="shop-details.html">Tulip Flower</a>
                  <p>$11.99</p>
                </div>
              </div> -->

            
              <div class="social-info">
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-twitter" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>

          <!-- Single Footer Widget -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-footer-widget">
              <div class="widget-title">
                <h5>CONTACT</h5>
              </div>

              <div class="contact-information">
                <p><span>Address:</span>  st.Ajloun Castle, Ajloun City</p>
                <p><span>Phone:</span> +962 777 415 591</p>
                <p><span>Email:</span> Mashtal.online@gmail.com</p>
                <p><span>Open hours:</span> Sun - Thu: 8 AM to 9 PM</p>
                <p><span>Happy days:</span> Wen: 2 PM to 4 PM 4th/Oct </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom Area -->
    <!-- <div class="footer-bottom-area">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="border-line"></div>
                  </div> -->
    <!-- Copywrite Text -->
    <!-- <div class="col-12 col-md-6"> -->
    <!-- <div class="copywrite-text"> -->
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    <!-- </p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- Footer Nav -->
    <!-- <div class="col-12 col-md-6">
                      <div class="footer-nav">
                          <nav>
                              <ul>
                                  <li><a href="#">Home</a></li>
                                  <li><a href="#">About</a></li>
                                  <li><a href="#">Service</a></li>
                                  <li><a href="#">Portfolio</a></li>
                                  <li><a href="#">Blog</a></li>
                                  <li><a href="#">Contact</a></li>
                              </ul>
                          </nav>
                      </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->

  </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>